* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
  color: black;
}

/* Style the header */
header {
  padding-left: 3.0rem;
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  text-align: left;
  font-size: 1.2em;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

small {
  color: darkgray;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0.6rem;
}

/* Style the list inside the menu */
nav li > a {
  display: inline;
  /* text-decoration: none; */
  /* text-transform: uppercase; */
  padding: 0.3rem;
  color: black;
}

nav li > a:hover {
  color: white;
  background-color: black;
}


:target {
  display: block !important;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

article > section {
  display: none;
}

nav ul {
  list-style-type: none;
}

nav li {
  text-align: right;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}

/* Style the footer */
footer {
  padding-top: 2.5rem;
  text-align: center;
}

.list-inline ul {
  list-style-type: none;
}

.list-inline li {
  display: inline-block;
}

.icons a {
  color: black;
}

.dev-icons {
  font-size: 2.5em;
}

a {
  color: darkblue;
}

a:hover {
  color: darkblue;
}

.yellow i {
  color: gold;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  nav li {
    display: inline-block;
  }
}

.flex {
  display: flex;
}

.flex-1 {
  flex-grow: 1;
}

.flex-3 {
  flex-grow: 3;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.font-weight-bold {
  font-weight: bold;
}

.mb-0 {
  margin-bottom: 0;
}